.entire_sidebar{
    background-color: #f6c776;
    width: 370px;
    height: 766px;
    display: block;
    text-decoration: none;
    align-content: center;
    text-align: center;
    position: fixed;
    padding-top: 40px;
    padding-bottom: 0px;
}
ul{
    height: 766px;
    font-size: 30; 
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    text-decoration-line: none;
    padding-left: 0px;
    margin: 0px;
}
a{
    height: 766px;
    text-decoration: none;
    text-align: center;
    text-decoration-line: none;
    font-size: 33px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
    align-items: center;
    margin: 0;
}
.black_sidebar{
    width: 370px;
    height: 67px;
    background-color: black;
}
.yellow_sidebar{
    width: 370px;
    height: 67px;
}
li a {
    display: block;
    padding: 10px;
}
h1{
    font-family: 'Maven Pro', sans-serif;
    font-size: 54px;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}
body{
    margin: 10px;
}
nav{
    padding: 0px;
    margin: 0px;
}