.entire_sidebar{
    top: 0px;
    background-color: #fbc364;
    width: 22.0238vw;
    height: 100%;
    display: block;
    text-decoration: none;
    align-content: center;
    position: fixed;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0vmin;
}
.menu{ 
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    text-decoration-line: none;
    padding-left: 0vw;
    margin-top: 0px;
    position: fixed;
    height: 60%;
    width: 22.0238vw;
    font-size: 2.5vw;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
    align-items: center;
    margin: 0;
    padding: 0;
}
.black_sidebar{
    width: 22.0238vw;
    height: 16.6667%;
    background-color: black;
}
.yellow_sidebar{
    width: 22.0238vw;
    height: 16.6667%;
    background-color: #fbc364;
}
li a {
    display: block;
    margin: 0px;
    padding: 2.5vh;
}
h1{
    font-family: 'Maven Pro', sans-serif;
    font-size: 3vw;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: #fbc364;
}
body{
    margin: 0px;
    padding: 0px;
}
nav{
    padding: 0px;
    margin: 0px;
}
.my_logo{
    padding-top: 5%;
    text-align: center;
}

h2{
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
    font-size: 5.5vw;
    color: #fbc364;
    background-color: black;
    text-align: left;
    margin: 0;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 5px;
    position: fixed;
    top:0px;
    height: 114px;
}
.full_website{
    font-family: 'Maven Pro', sans-serif;
    margin: 0px;
}
.restofpage{
    margin-left: 22.0238vw;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0px;
    height: 100%;
    position: relative;
}
.imgcontain{
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    clear: none;
    margin: 5px;
    align-content: center; 
}
.me{
    position: fixed;
    right: 0px;
    bottom: 0px;
}
p{
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.6vw;
    font-kerning: normal;
    font-weight: 300;
    text-align: left;
    margin: 5px;
    padding: 5px;
}
h3{
    font-family: 'Maven Pro', sans-serif;
    font-size: 3vw;
    font-weight: 600;
    margin: 5px;
    margin: 5px;
}
.abtmecont{
    width: 700px;
}
ul{
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.6vw;
    font-weight: 300;
}
.backbutt{
    width: 10%;
    height: 10%;
    text-decoration: none;
    text-align: center;
    text-decoration-line: none;
    font-size: 2.5vw;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 800;
    align-items: center;
    margin: 0;
    padding: 0;
    color: black;
    background-color: #fbc364;
}
a{
    text-decoration: none;
}
.mysubpages{
    list-style: none;
    height: 100%;
    padding-left: 0;
    margin: 5px;
    align-content: center;
    display:block;
    width:80%;
}
.fullgall{
    padding: 10px;
}
.text{
    color:black;
    font-weight: 700;
    font-size: 60px;
    background-color: #fbc364;
    margin: 5px;
    text-align: center
}
.withouthead{
    margin-top: 114.px;
    position:static;
}